<p id="notice"><%= notice %></p>

<div class="row row-cols-2">
  <div class="col">
    <h1>Utilizadors</h1>
  </div>
  <div class="col d-flex align-items-center justify-content-end">
    <%= link_to 'New Utilizador', new_utilizador_path, :class => "btn btn-md btn-info text-white" %>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>Nif</th>
      <th>Email</th>
      <th>Turma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilizadors.each do |utilizador| %>
      <tr>
        <td><%= utilizador.nome_completo %></td>
        <td><%= utilizador.nif %></td>
        <td><%= utilizador.email %></td>
        <td><%= utilizador.turma.numero_da_turma %></td>
        <td><%= link_to 'Show', utilizador, :class => "btn btn-sm btn-primary text-white" %></td>
        <td><%= link_to 'Edit', edit_utilizador_path(utilizador), :class => "btn btn-sm btn-warning text-white" %></td>
        <td><%= link_to 'Destroy', utilizador, :class => "btn btn-sm btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
