<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @utilizador.nome_completo %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @utilizador.nif %>
</p>

<p>
  <strong>Email:</strong>
  <%= @utilizador.email %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @utilizador.turma_id %>
</p>

<%= link_to 'Edit', edit_utilizador_path(@utilizador) %> |
<%= link_to 'Back', utilizadors_path %>
