<%= form_with(model: estudante) do |form| %>
  <% if estudante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudante.errors.count, "error") %> prohibited this estudante from being saved:</h2>

      <ul>
        <% estudante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :nif %>
    <%= form.text_field :nif %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
