<div class="d-flex justify-content-between">
  <h4>Estudantes</h4>
  <%= link_to 'Cadastrar', new_estudante_path, class: "btn btn-sm btn-primary text-white" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>NOME COMPLETO</th>
      <th>NOTA</th>
      <th>NIF</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudantes.each do |estudante| %>
      <tr>
        <td><%= estudante.nome %></td>
        <td><%= estudante.nota %></td>
        <td><%= estudante.nif %></td>
        <td><%= link_to 'Show', estudante, class: "btn btn-sm btn-primary text-white" %></td>
        <td><%= link_to 'Edit', edit_estudante_path(estudante), class: "btn btn-sm btn-warning text-white" %></td>
        <td><%= link_to 'Destroy', estudante, class: "btn btn-sm btn-danger text-white", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

