<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estudante.nome %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @estudante.nota %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @estudante.nif %>
</p>

<%= link_to 'Edit', edit_estudante_path(@estudante) %> |
<%= link_to 'Back', estudantes_path %>
