<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header border-0 d-flex justify-content-between align-content-center">
    <%= content_tag(:h4, "Turmas", class: "mb-0") %>
    <%= link_to 'Criar Turma', new_turma_path, class: "link text-dark" %>
  </div>
  <div class="card-body mt-4">
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th>Descricao</th>
          <th>Quantidade de estudantes</th>
          <th class="text-right">Ações</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @turmas.each do |turma| %>
          <tr>
            <td><%= turma.descricao %></td>
            <td><%= turma.quantidade_de_estudantes %></td>
            <td><%= link_to 'Show', turma, class: "link text-dark" %></td>
            <td><%= link_to 'Edit', edit_turma_path(turma), class: "link text-dark" %></td>
            <td><%= link_to 'Destroy', turma, class: "link text-dark", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


