<p id="notice"><%= notice %></p>

<p>
  <strong>Numero da turma:</strong>
  <%= @turma.numero_da_turma %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @turma.descricao %>
</p>

<p>
  <strong>Quantidade de estudante:</strong>
  <%= @turma.quantidade_de_estudante %>
</p>

<%= link_to 'Edit', edit_turma_path(@turma) %> |
<%= link_to 'Back', turmas_path %>
